@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

    scroll-behavior: smooth;
  
}
/* .body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #343F4F;
} */
#sec1{
    background-color: #222831;
}

.wrapper{
  display: flex;
  
}
.wrapper .static-txt{
  color: #EEEEEE;
  font-size: 60px;
  font-weight: 400;
  font-family: Orbitron;
  letter-spacing: 2px;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
  
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
  
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 2px 0;
  line-height: 90px;
  font-family: Orbitron;
  letter-spacing: 4px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 110%;
  width: 100%;
  background: #222831;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
.parent{
    margin-top: 20%;
    margin-left: 90px;
}
.paragrpah{
    color: #D6D5CB;
    
}
.cont {
    display: flex;
    align-items: center;
    margin-left: 86%;
  }
  
  .Email {
    letter-spacing: 4px;
    font-size: 13px;
    display: flex;
   font-weight: bold;
    font-family: Orbitron;
    writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #1a1f26;
  }
  
  
  .line {
    width: 200px; /* Adjust the width of the line as needed */
    height: 1px;
    background-color: #d3d3d3; /* Change the color to your desired grey shade */
    margin-left: 10px; /* Adjust the spacing between the email and the line */
  }
.num{
    letter-spacing: 2px;
    font-size: 13px;
    display: flex;
    font-family: Orbitron;
    color: #999999;
    letter-spacing: 4px;
}
#sec-1 {
    background-color: rgb(214, 228, 92);
  }
 
  .scroll-down {
    height: 50px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid black;
    border-top: transparent;
    border-left: transparent;
    scroll-behavior: smooth;
    animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
    animation: scroll-down 1s ease-in-out infinite;
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: #222831;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}  
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#sec-2{
    margin-top: 200px;
   
}
